<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IpsaCore</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/lib/selectize/css/selectize.css" asp-append-version="true"/>
        <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet">
    </environment>
    <environment exclude="Development">       
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/selectize/css/selectize.css" asp-append-version="true"/>
        <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet">
    </environment>
</head>
<body>
    <!-- Preloader home-->
    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>

    <section>
        
        <div class="leftpanel">
            
            <div class="logopanel">
                <h1><span>[</span> IPSA CORE <span>]</span></h1>
            </div><!-- logopanel -->
                
            <div class="leftpanelinner">    
                
                <!-- This is only visible to small devices -->
                <div class="visible-xs hidden-sm hidden-md hidden-lg">   
                    <div class="media userlogged">
                        <img alt="" src="images/photos/loggeduser.png" class="media-object">
                        <div class="media-body">
                            <h4>John Doe</h4>   
                            <span>Delegacion de leon</span>                         
                        </div>
                    </div>
                
                    <h5 class="sidebartitle actitle">Cuenta</h5>
                    <ul class="nav nav-pills nav-stacked nav-bracket mb30">
                    <li><a href="profile.html"><i class="fa fa-user"></i> <span>Perfil</span></a></li>
                    <li><a href="#"><i class="fa fa-cog"></i> <span>Cambiar contraseña</span></a></li>
                    <li><a href="signout.html"><i class="fa fa-sign-out"></i> <span>Salir</span></a></li>
                    </ul>
                </div>
            
            <h5 class="sidebartitle">Navigación</h5>
            <ul class="menu nav nav-pills nav-stacked nav-bracket">
                <li class="active"><a onclick="loadPage('home', this)" href="#"><i class="fa fa-home"></i> <span>Inicio</span></a></li>
                <li class="nav-parent"><a href="#"><i class="fa fa-edit"></i> <span>Registrar</span></a>
                <ul class="children">
                    <li><a onclick="loadPage('recibo#crear', this)" href="#"><i class="fa fa-laptop"></i> Recibos de caja</a></li>
                    <li><a href="form-layouts.html"><i class="fa fa-exchange"></i> Movimientos</a></li>
                </ul>
                </li>
                <li class="nav-parent"><a href="#"><i class="fa fa-suitcase"></i> <span>Administración</span></a>
                    <ul class="children">
                        <li><a href="buttons.html"><i class="fa fa-caret-right"></i> Usuarios</a></li>
                        <li><a href="icons.html"><i class="fa fa-caret-right"></i> Permisos</a></li>
                        <li><a href="typography.html"><i class="fa fa-caret-right"></i> Tipos Movimientos</a></li>
                        <li><a href="alerts.html"><i class="fa fa-caret-right"></i> Procesos iniciales</a></li>
                        <li><a href="tabs-accordions.html"><i class="fa fa-caret-right"></i> Firmas autorizadas</a></li>                    
                    </ul>
                </li>              
                <li class="nav-parent"><a href="#"><i class="fa fa-file-text"></i> <span>Catálogos</span></a>
                    <ul class="children">
                        <li><a href="calendar.html"><i class="fa fa-caret-right"></i> Clientes</a></li>
                        <li><a href="media-manager.html"><i class="fa fa-caret-right"></i> Cajas</a></li>
                        <li><a href="timeline.html"><i class="fa fa-caret-right"></i> Servicios</a></li>                  
                    </ul>
                </li>
                <li><a href="buttons.html"><i class="fa fa-caret-right"></i> Tasa de cambio</a></li>
                <li class="nav-parent"><a href="#"><i class="fa fa-file-text"></i> <span>Reportes</span></a>                  
                    <ul class="children">
                        <li><p>RECIBOS</p></li>                       
                        <li><a href="calendar.html"><i class="fa fa-caret-right"></i> Consolidado</a></li>
                        <li><a href="media-manager.html"><i class="fa fa-caret-right"></i> Detalles</a></li>
                        <li><a href="timeline.html"><i class="fa fa-caret-right"></i> Por servicios</a></li>        
                        <li><a href="timeline.html"><i class="fa fa-caret-right"></i> Mal ingresados</a></li>                  
                    </ul>                        
                </li>
            </ul>
            
            <div class="infosummary">
                <h5 class="sidebartitle">Información General</h5>    
                <ul>
                    <li>
                        <div class="datainfo">
                            <span class="text-muted">Delegacion de Leon</span>
                            <h4>3690 recibos</h4>
                        </div>
                        <div id="sidebar-chart" class="chart"></div>   
                    </li>
                </ul>
            </div><!-- infosummary -->
            
            </div><!-- leftpanelinner -->
        </div><!-- leftpanel -->
        
        <div class="mainpanel">
            
            <div class="headerbar">
            
                <a class="menutoggle"><i class="fa fa-bars"></i></a>
            
                <div class="searchform" method="post">                      
                    <input type="text" id="numRecibo" class="form-control" name="keyword" placeholder="Buscar recibo..." />
                </div>
            
                <div class="header-right">
                    <ul class="headermenu">             
                        <li>
                            <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <img src="images/photos/loggeduser.png" alt="" />
                                John Doe
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                                <li><a href="profile.html"><i class="glyphicon glyphicon-user"></i> Perfil</a></li>
                                <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Cambiar contraseña</a></li>
                                <li><a href="signin.html"><i class="glyphicon glyphicon-log-out"></i> Salir</a></li>
                            </ul>
                            </div>
                        </li>
                        <li>
                            <button id="chatview" class="btn btn-default tp-icon chat-icon">
                                <i class="glyphicon glyphicon-comment"></i>
                            </button>
                        </li>
                    </ul>
                </div><!-- header-right -->
            
            </div><!-- headerbar -->
            
            <div class="contentpanel">
            
               @RenderBody()
            
            </div>
            
        </div><!-- mainpanel -->
        
        <div class="rightpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a href="#rp-alluser" data-toggle="tab"><i class="fa fa-users"></i></a></li>               
            </ul>
                
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="rp-alluser">
                    <h5 class="sidebartitle">Online Users</h5>
                    <ul class="chatuserlist">
                        <li class="online">
                            <div class="media">
                                <a href="#" class="pull-left media-thumb">
                                    <img alt="" src="images/photos/userprofile.png" class="media-object">
                                </a>
                                <div class="media-body">
                                    <strong>Eileen Sideways</strong>
                                    <small>Los Angeles, CA</small>
                                </div>
                            </div><!-- media -->
                        </li>                      
                    </ul>
                    
                    <div class="mb30"></div>                    
                  
                </div>
            </div><!-- tab-content -->
        </div><!-- rightpanel -->  
  
    </section>
    <div id="listRecibos-content" class="selectize-dropdown multi contacts" style="width: 380px;top: 50px;left: 265px;visibility: visible;display:none">
        <div class="numrecibo-dropdown-content" id="listRecibos">
        </div>
    </div>
    <partial name="_CookieConsentPartial" />
    
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/jquery.mask.js"></script>
        <script src="~/lib/selectize/js/selectize.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
        <script src="~/lib/bootstrap-datepicker/dist/locales/bootstrap-datepicker.es.min.js"></script>
        <script src="~/lib/moment/moment.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>        
        <script src="~/js/extensions.js" asp-append-version="true"></script>        
        <script src="~/js/route.config.js" asp-append-version="true"></script>     
        <script src="~/js/model.config.js" asp-append-version="true"></script>     
        <script src="~/js/page.config.js" asp-append-version="true"></script>     
        <script src="~/pages/recibo/create.js" asp-append-version="true"></script>     
        <script src="~/pages/recibo/edit.js" asp-append-version="true"></script>     
        <script src="~/js/models/ingresosEgresosCaja.js" asp-append-version="true"></script>     
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/jquery.mask.js"></script>
        <script src="~/lib/selectize/js/selectize.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
        <script src="~/lib/bootstrap-datepicker/dist/locales/bootstrap-datepicker.es.min.js"></script>
        <script src="~/lib/moment/moment.js"></script>
        <script src="~/js/wuftrap.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
    <script>
        var basePath = '@Url.Content("~/")';
    </script>
</body>
</html>
